
<div ng-app="sonosApp" ng-controller="homeController" ng-cloak>

    <div ng-if="Offline">
        server offline
    </div>

    <div ng-if="!Offline">

        @*<div class="row">
                <div ng-if="Mute">
                    <div class="col-sm-6" id="playback-mute">
                        <p>Volume: Muted</p>
                    </div>
                </div>

                <div ng-if="!Mute">
                    <div class="col-sm-6" id="playback-volume">
                        <p>Volume: {{Volume}}</p>
                    </div>
                </div>
            </div>*@

        <div class="row">


            <div class="col-sm-12 col-md-6 col-lg-3" id="current-track" ng-if="CurrentTrack403.type != 'radio'">
                
                <h2>Studio 403</h2>

                <div ng-if="PlaybackState403 == 'PLAYING'">
                    <h3>Now Playing</h3>
                    <p>Artist: {{CurrentTrack403.artist}}</p>
                    <p>Track: {{CurrentTrack403.title}}</p>
                    <p>Album: {{CurrentTrack403.album}}</p>
                    <img class="img-thumbnail" src="{{CurrentTrack403.absoluteAlbumArtUri}}"/>
                    <h4>Up next: {{NextTrack403.artist}} : {{NextTrack403.title}}</h4>
                </div>

                <div ng-if="PlaybackState403 != 'PLAYING'">
                    <p>{{PlaybackState403}}</p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3" id="next-track" ng-if="CurrentTrack404.type != 'radio'">
                
                <h2>Studio 404</h2>

                <div ng-if="PlaybackState404 == 'PLAYING'">
                    <h3>Now Playing</h3>
                    <p>Artist: {{CurrentTrack404.artist}}</p>
                    <p>Track: {{CurrentTrack404.title}}</p>
                    <p>Album: {{CurrentTrack404.album}}</p>
                    <img class="img-thumbnail" src="{{CurrentTrack404.absoluteAlbumArtUri}}"/>
                    <h4>Up next: {{NextTrack404.artist}} : {{NextTrack404.title}}</h4>

                </div>

                <div ng-if="PlaybackState404 != 'PLAYING'">
                    <p>{{PlaybackState404}}</p>
                </div>
            </div>

        </div>
    </div>

    @*<div class="row">
        <button type="button" ng-click="showQueue()">Get Queue</button>
    </div>*@
    
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Track</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-class="{'table-primary ': item.title == CurrentTrack403.title}" ng-repeat="item in Queue">
                <td>{{item.title}}</td>
                <td>{{item.artist}}</td>
                <td>{{item.album}}</td>
            </tr>
        </tbody>
    </table>

</div>
